body{
 margin: 0;
 padding: 20px;
 font-family: 'poppins';
 font-size: 12px;
 overflow-y: hidden;

}

@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}


.form-login{
    /* width: 500px; */
    height: 500px;
    margin: 20px auto;
    /* border: 2px solid rgb(0, 0, 0); */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    background-image: url('/img/h5j8_83dv_230227-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.page{
margin: 50px 550px;
position: relative;

}

input{
    width: 500px;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    /* border: 1px solid white; */
    /* border: none; */

}

.check{
    position: absolute;
    left: -140px;
}

.rememberpass{
    position: absolute;
    left: 25px;
}


button{
    position: absolute;
   bottom: -70px;
   left:10px;
   width: 500px;
   padding: 10px;
   border-style: none;
   background-color:rgba(56, 176, 0);
   border-radius: 8px;
   box-sizing: border-box;
   color: rgb(255, 255, 255);
    cursor: pointer;
}

.masuk{
    font-size: 20px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

.register{
    position: absolute;
    bottom: -100px;
    left: 20px;
    font-size: 10px;
}

a{
    text-decoration: none;
    color:  rgba(56, 176, 0);
}

.imgs{
    position: absolute;
    top: -50px;
    left: -500px;
}

label{
    color: rgb(255, 255, 255) ;
    cursor: pointer;
}

span{
    color: rgb(255, 255, 255);
}


.h1-banksampahdigital{
    position: absolute;
    /* bottom: 100px;
     */
     top: 280px;
     left: -300px;
     color: rgba(56, 176, 0) ;
}

#see-pass{
    position: absolute;
    left: 480px;
    bottom: 10px;
}

    /* .fa-eye{
        width: 500px;
    } */


/* Breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form-login{
        /* width: 500px; */
        height: 500px;
        margin: 20px auto;
        /* border: 2px solid rgb(0, 0, 0); */
        padding: 20px;
        box-sizing: border-box;
        border-radius: 6px;
        background-image: url('/img/h5j8_83dv_230227-removebg-preview.png');
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }
   
    .h1-banksampahdigital{
        position: absolute;
        /* bottom: 100px;
         */
         top: -80px;
         left: 40px;
         color: rgba(56, 176, 0) ;
         font-size: 0.4rem;
    }


    .page{
        margin: 150px 5px;
        position: relative;
        
        }

        input{
            width: 240px;
            padding: 10px;
            border-radius: 8px;
            outline: none;
            /* border: 1px solid white; */
            /* border: nne; */
        
        }
        
        button{
            position: absolute;
           bottom: -70px;
           left:10px;
           width: 240.8px;
           padding: 10px;
           border-style: none;
           background-color:rgba(56, 176, 0);
           border-radius: 8px;
           box-sizing: border-box;
           color: rgb(255, 255, 255);
            cursor: pointer;
        }


        .masuk{
            font-size: 20px;
            box-sizing: border-box;
            color: rgba(56, 176, 0);
        }

        label{
            color: rgb(0, 0, 0) ;
            cursor: pointer;
        }

        span{
            color: rgba(0, 0, 0);
        }

        #see-pass{
            position: absolute;
            left: 220px;
            bottom: 10px;
        }
        
}